<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Error page</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
    </head>
    <body>
        <div th:replace="header"></div>
        <h1>Error page</h1>
        <div th:each="info:${infos}" id="errors">
            <p th:text="${info}"></p>
        </div>
        <a href="javascript:history.back()">Try again</a>
    </body>
</html>
